---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";

const button = cva(
  ["rounded-md", "transition-all", "w-full", "font-medium", "tracking-tight"],
  {
    variants: {
      intent: {
        primary: [
          "bg-lime",
          "text-[#1a1a1a]",
          "hover:bg-lime/80",
          "active:scale-[0.98]",
        ],
        secondary: [
          "bg-transparent",
          "text-[#1a1a1a]",
          "hover:bg-black/5",
          "border",
          "border-[#1a1a1a]/20",
        ],
      },
      size: {
        small: ["text-sm", "py-2", "px-6"],
        medium: ["text-sm", "py-3", "px-8"],
      },
    },
  }
);

export interface Props
  extends HTMLAttributes<"button">,
    VariantProps<typeof button> {}

const { intent = "secondary", size = "medium" } = Astro.props;
---

<button class={button({ intent, size })}>
  <slot />
</button>